---
---

$section-headings-color: #17afee !default;
$body-text-color: #606c71 !default;
$body-link-color: #155799 !default;

@import "{{ site.theme }}";

.project-name{
  font-weight: 500 !important;
}

.logo-bg {
  background: rgba(255,255,255,0.5);
  width: 128px;
  height: 128px;
  display: inline-block;
  padding: 16px;
}

.main-content {
  text-align: justify;
}
